In [1]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import OneHotEncoder

In [2]:
# url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
# columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']
#  df = pd.read_csv(url, delim_whitespace=True, names=columns, na_values='?') 
# # 결측값 처리 (horsepower 컬럼에 결측값 존재)
# df = df.dropna()
# 해당 소스를 활용하여 연비(Mile per gallen)를 예측 
# mse를 구하라
# 1. ML (RF, DT, LR)
# 2. FCNN
# 3. 순환데이터로 변환후 CNN
# 각 단계별 검사후 다음단계 진행

In [3]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin','cname']
df = pd.read_csv(url,delim_whitespace=True,names=columns, na_values='?')

/var/folders/5m/vx92_jks0p34tqs02v0jgqsw0000gn/T/ipykernel_2454/3869748534.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(url,delim_whitespace=True,names=columns, na_values='?')

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,cname
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [5]:
# 컬렴명 확인
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'cname'],
      dtype='object')

In [6]:
df['mpg'].value_counts()

mpg
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: count, Length: 129, dtype: int64

In [7]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
cname           0
dtype: int64

In [8]:
df = df.dropna()
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
cname           0
dtype: int64

In [9]:
# df_encoded = pd.get_dummies(df, columns=['cname'])
# df_encoded

In [10]:
X=df.drop(['mpg'],axis=1)
X1=X.drop(['cname'],axis=1)
X.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,cname
0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X1)

In [12]:
y=df['mpg']
y.value_counts()

mpg
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: count, Length: 127, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=0)

In [14]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((313, 7), (313,), (79, 7), (79,))

In [15]:
#Defining the model 

from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD,Adam


model = Sequential()

model.add(Dense(8,input_shape=(7,),activation='relu'))
model.add(Dense(30,activation='relu'))
model.add(Dense(30,activation='relu'))
model.add(Dense(1))

model.compile(optimizer = 'adam', loss = 'mse', metrics = ['mse'])

model.summary()

/opt/anaconda3/envs/school/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 8)              │            64 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │           270 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 30)             │           930 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,295 (5.06 KB)

 Trainable params: 1,295 (5.06 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
N_EPOCHS = 30

history=model.fit(x=X_train, y=y_train, epochs=N_EPOCHS, batch_size=32,validation_split=0.2)
y_pred = model.predict(X_test)

Epoch 1/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 579.3652 - mse: 579.3652 - val_loss: 625.9898 - val_mse: 625.9898
Epoch 2/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 592.7926 - mse: 592.7926 - val_loss: 616.9709 - val_mse: 616.9709
Epoch 3/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 575.3070 - mse: 575.3070 - val_loss: 605.6670 - val_mse: 605.6670
Epoch 4/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 552.9393 - mse: 552.9393 - val_loss: 590.8948 - val_mse: 590.8948
Epoch 5/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 575.1264 - mse: 575.1264 - val_loss: 571.2737 - val_mse: 571.2737
Epoch 6/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 540.8165 - mse: 540.8165 - val_loss: 545.5568 - val_mse: 545.5568
Epoch 7/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 521.0732 - mse: 521.0732 - val_loss: 511.5527 - val_mse: 511.5527
Epoch 8/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 470.6095 - mse: 470.6095 - val_loss: 467.4314 - val_mse: 467.4314
Epoch 9/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 438.3748 - mse: 438.3748 - val_loss: 412.7846 - val_mse: 412.7846
Epoch 10/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 383.5967 - mse: 383.5967 - val_loss: 349.1173 - val_mse: 349.1173
Epoch 11/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 309.8031 - mse: 309.8031 - val_loss: 282.8278 - val_mse: 282.8278
Epoch 12/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 272.3777 - mse: 272.3777 - val_loss: 223.9335 - val_mse: 223.9335
Epoch 13/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 186.1711 - mse: 186.1711 - val_loss: 183.7444 - val_mse: 183.7444
Epoch 14/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 153.2418 - mse: 153.2418 - val_loss: 160.7921 - val_mse: 160.7921
Epoch 15/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 132.5142 - mse: 132.5142 - val_loss: 146.6988 - val_mse: 146.6988
Epoch 16/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 131.4608 - mse: 131.4608 - val_loss: 133.0273 - val_mse: 133.0273
Epoch 17/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 115.6997 - mse: 115.6997 - val_loss: 120.6112 - val_mse: 120.6112
Epoch 18/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 106.7368 - mse: 106.7368 - val_loss: 109.7701 - val_mse: 109.7701
Epoch 19/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 96.4972 - mse: 96.4972 - val_loss: 100.4388 - val_mse: 100.4388
Epoch 20/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 94.4394 - mse: 94.4394 - val_loss: 91.5810 - val_mse: 91.5810
Epoch 21/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 81.3403 - mse: 81.3403 - val_loss: 83.4064 - val_mse: 83.4064
Epoch 22/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 78.2278 - mse: 78.2278 - val_loss: 75.9910 - val_mse: 75.9910
Epoch 23/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 64.5261 - mse: 64.5261 - val_loss: 68.9972 - val_mse: 68.9972
Epoch 24/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 61.4694 - mse: 61.4694 - val_loss: 62.4886 - val_mse: 62.4886
Epoch 25/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 60.0461 - mse: 60.0461 - val_loss: 56.2974 - val_mse: 56.2974
Epoch 26/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48.2362 - mse: 48.2362 - val_loss: 50.9329 - val_mse: 50.9329
Epoch 27/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51.5122 - mse: 51.5122 - val_loss: 45.8473 - val_mse: 45.8473
Epoch 28/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 47.9072 - mse: 47.9072 - val_loss: 41.5085 - val_mse: 41.5085
Epoch 29/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 42.6864 - mse: 42.6864 - val_loss: 37.7698 - val_mse: 37.7698
Epoch 30/30
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 34.7765 - mse: 34.7765 - val_loss: 34.4842 - val_mse: 34.4842
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

In [17]:
from sklearn.metrics import mean_squared_error
ry_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test))

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step
평균제곱근오차 30.652809383570716